@import url(_variable.css);
/* @import url(reset.css); */

html, body {
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font: 100%;
}

/* Nav-Bar */
nav{
  z-index: 99;
  transition: 0.4s;
}
nav .nav-wrapper {
  background-color: var(--azul) !important;
  transition: 0.4s;
  line-height: 90px !important;
  height: 90px !important;
  background-color: white !important;
}

nav .nav-wrapper ul li a{
  font-size: large;
  color: var(--azul) !important;
  font-weight: normal !important;
  font-size: 1.3rem !important;
  transition: 0.4s;
  margin-top: 1px !important;
}
nav .nav-wrapper ul li{
  padding-left: 20px !important;
}

nav .nav-wrapper ul li a{
  border-top: 3px solid transparent;
  padding: 0 !important;
}

nav .nav-wrapper ul li a:hover{
  background-color: rgba(0, 0, 0, 0) !important;
  border-top: 3px solid #449dd1 !important; 
}

nav .nav-wrapper ul li a:active{
  border-top: 3px solid #449dd1 !important;
}

nav .nav-wrapper .brand-logo img {
  height: 45px;
}


/* --- Nav-Bar END */


/* Video Carousel */
.title{
  text-align: center;
  padding-top: 5px;
}
.title h1{ 
  font-weight: bold;
  margin-bottom: 0;
}
.title h2{
  margin-top: 0;
}
#icon{
  color: white;
  position: absolute;
  top: 80vh;
  opacity: 0.5;
  transition: 0.5s;
  left: 50%;
  font-size: 2rem;
}

#icon:hover{
  opacity: 1;
}
.content {
  position: relative;
  margin: 0;
  padding: 0;
  height: 56.25vw;
}
.content:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content video {
  display: block;
  height: 56.25vw;
  scroll-margin-block-end: 0;
  background-size: cover;
}
.caroussel-video .title{
  position: absolute;
  top: 50px;
  left: 60px;
  text-align: left;
}

.caroussel-video .title h1{
  color: white;
  font-size: 3.6em;
}
.caroussel-video .title h2{
  color: white;
  font-size: 1.7em;
}
/* Video Carousel END */



/* Linha Horizontal */
.linha_horizontal {
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-bottom: 3% !important;
  margin-top: 6% !important;
}
.linha_horizontal {
  display: block;
  overflow: hidden;
  text-align: center;
}
.linha_horizontal:before,
.linha_horizontal:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top: 1px solid;
}
.linha_horizontal:before {
  right: 0.5em;
  margin-left: -50%;
}
.linha_horizontal:after {
  left: 0.5em;
  margin-right: -50%;
}
.linha_horizontal img {
  height: 45px;
  vertical-align: middle;
}
/* Linha Horizontal END */


/* Cards */
.title1 h1{
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold; 
  padding-top: 2%;
}
.title2 h1{
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold; 
}
.title1 h2 {
  font-weight: normal;
  font-size: 2.3rem;
  color: var(--cinza-medio);
  margin-top: -2%;
  text-align: center;
}
.cards {
  background-color: var(--cinza-claro);
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.card-content {
  text-align: center;
  padding: 1rem !important;
}
.cards-title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.6rem;
}
.cards-resume {
  /* font-weight: bold; */
  margin: 0.4rem !important;
}
.cards-text {
  text-align: justify;
}
/* Cards END */



/* Footer */
.page-footer{
  background-color: var(--azul) !important;
}
.page-footer #footer-title{
  font-size: 1.4rem;
  font-weight: 500;
}
.page-footer .container .contato a{
  transition: .3s;
}
.page-footer .container ul li a{
  font-size: 1.8rem;
  padding-right: 0.7rem;
  transition: 0.3s;
  text-decoration: none;
}
#instagram:hover{
  color: #F44747 !important;
}
#twitter:hover{
  color: #1DA1F2 !important;
}
#facebook:hover{
  color: #147cf4 !important;
}
/* Footer END*/



@media only screen and (min-width: 993px) {
  .brand-logo{
    padding-top: 0.7% !important;
    margin-left: 15% !important;
  }
  #links{
    margin-right: 15% !important;
  }
}
