@import url(_variable.css);
/* @import url(reset.css); */

body {
  /* font-family: var(--familia-corpo); */
}

nav {
  height: 75px !important;
  line-height: 75px !important;
}
nav .nav-wrapper {
  background-color: var(--azul) !important;
}
nav .nav-wrapper .brand-logo img {
  height: 45px;
}

#links li a {
  font-size: large;
}

.caroussel-video video {
  width: 100%;
  height: 56.25vw;
}

.linha_horizontal {
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-bottom: 3% !important;
  margin-top: 6% !important;
}
.linha_horizontal {
  display: block;
  overflow: hidden;
  text-align: center;
}
.linha_horizontal:before,
.linha_horizontal:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top-style: solid;
  border-top-width: 1px;
}
.linha_horizontal:before {
  right: 0.5em;
  margin-left: -50%;
}
.linha_horizontal:after {
  left: 0.5em;
  margin-right: -50%;
}
.linha_horizontal img {
  height: 45px;
  vertical-align: middle;
}
.title {
  text-align: center;
  padding-top: 5px;
}

.title h1 {
  font-size: 2.8rem;
  font-weight: bold;
  /* font-size: 2.5rem; */
}
.title h2 {
  font-weight: normal;
  font-size: 2.3rem;
  color: var(--cinza-medio);
  margin-top: -2%;
}

.cards {
  background-color: var(--cinza-claro);
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.card-content {
  text-align: center;
  padding: 1rem !important;
}

.cards-tittle {
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.cards-resume {
  /* font-weight: bold; */
  margin: 0.4rem !important;
}

.cards-text {
  text-align: justify;
}

@media only screen and (min-width: 993px) {
  .brand-logo {
    padding-top: 0.7% !important;
    margin-left: 15% !important;
  }

  #links {
    margin-right: 15% !important;
  }
}
/* .container {
    padding-right: 1rem;
    padding-left: 1rem;
} */
