@import url(_variable.css);
/* @import url(reset.css); */

body{
  /* font-family: var(--familia-corpo); */
}

/* Nav-Bar */
nav{
  height: 75px !important;
  line-height: 75px !important;
}
nav .nav-wrapper {
  background-color: var(--azul) !important;
}
nav .nav-wrapper ul li a{
  font-weight: 500;
}
nav .nav-wrapper .brand-logo img {
  height: 45px;
}
#links li a {
  font-size: large;
}
/* --- Nav-Bar END */


/* Video Carousel */
.content {
  position: relative;
  margin: 0;
  padding: 0;
  height: 56.25vw;

}
.content:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content video {
  display: block;
  height: 56.25vw;
  padding: 10;
}
.caroussel-video .title h1{
  color: white;
  position: absolute;
  font-size: 3.6rem;
  top: 12vh;
  left: 6.5vw;
}
.caroussel-video .title h2{
  color: white;
  position: absolute;
  font-size: 1.7rem;
  top: 32vh;
  left: 6.5vw;
}
/* Video Carousel END */



/* Linha Horizontal */
.linha_horizontal {
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-bottom: 3% !important;
  margin-top: 6% !important;
}
.linha_horizontal {
  display: block;
  overflow: hidden;
  text-align: center;
}
.linha_horizontal:before,
.linha_horizontal:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top-style: solid;
  border-top-width: 1px;
}
.linha_horizontal:before {
  right: 0.5em;
  margin-left: -50%;
}
.linha_horizontal:after {
  left: 0.5em;
  margin-right: -50%;
}
.linha_horizontal img {
  height: 45px;
  vertical-align: middle;
}
/* Linha Horizontal END */


/* Cards */
.title {
  text-align: center;
  padding-top: 5px;
}
.title1 {
  text-align: center; 
}
.title h1, .title1 h1{
  font-size: 2.8rem;
  font-weight: bold;
  /* font-size: 2.5rem; */
}
.title h2 {
  font-weight: normal;
  font-size: 2.3rem;
  color: var(--cinza-medio);
  margin-top: -2%;
}
.cards {
  background-color: var(--cinza-claro);
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.card-content {
  text-align: center;
  padding: 1rem !important;
}
.cards-title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.6rem;
}
.cards-resume {
  /* font-weight: bold; */
  margin: 0.4rem !important;
}
.cards-text {
  text-align: justify;
}
/* Cards END */



/* Footer */
.page-footer{
  background-color: var(--azul) !important;
}
.page-footer #footer-title{
  font-size: 1.4rem;
  font-weight: 500;
}
.page-footer .container .contato a{
  transition: .3s;
}
.page-footer .container ul li a{
  font-size: 1.8rem;
  padding-right: 0.7rem;
  transition: 0.3s;
  text-decoration: none;
}
#instagram:hover{
  color: #F44747 !important;
}
#twitter:hover{
  color: #1DA1F2 !important;
}
#facebook:hover{
  color: #147cf4 !important;
}
/* Footer END*/



@media only screen and (min-width: 993px) {
  .brand-logo{
    padding-top: 0.7% !important;
    margin-left: 15% !important;
  }
  #links{
    margin-right: 15% !important;
  }
}
